# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Vercel (auto-injected on Vercel, only needed locally)
VERCEL_ENV="development"
VERCEL_PROJECT_PRODUCTION_URL="localhost:3000"
# VERCEL_GIT_COMMIT_SHA=
